# ==========================
# Database Configuration
# ==========================
DB_HOST=localhost
DB_PORT=5432
DB_USERNAME=your_db_user
DB_PASSWORD=your_db_password
DB_DATABASE=network_db

DBWH_USERNAME=your_wh_user
DBWH_PASSWORD=your_wh_password
DBWH_DATABASE=network_dbwh

# ==========================
# JWT Configuration
# ==========================
JWT_SECRET=your_jwt_secret
JWT_EXPIRES_IN=15m
JWT_ACCESS_TOKEN_TTL=10800
JWT_REFRESH_TOKEN_TTL=86400
JWT_REFRESH_SECRET=your_refresh_secret
JWT_REFRESH_EXPIRES_IN=7d

# ==========================
# Application Settings
# ==========================
NODE_ENV=development
PORT=3000

# ==========================
# RabbitMQ
# ==========================
RABBITMQ_HOST=localhost
RABBITMQ_PORT=5672
RABBITMQ_USER=your_rabbitmq_user
RABBITMQ_PASS=your_rabbitmq_pass
RABBITMQ_URL=amqp://your_rabbitmq_user:your_rabbitmq_pass@localhost:5672/
QUEUE_NAME=network
RABBITMQ_EXCHANGE=user_exchange
RABBITMQ_QUEUE=mail_queue

# ==========================
# Redis
# ==========================
REDIS_HOST=localhost
REDIS_PORT=6379
REDIS_USERNAME=your_redis_user
REDIS_PASSWORD=your_redis_pass
REDIS_DATABASE=1
REDIS_KEY_PREFIX=nest-network

# ==========================
# Swagger
# ==========================
SWAGGER_SITE_TITLE=The Social Network API
SWAGGER_DOC_TITLE=NestJS Social Network
SWAGGER_DOC_DESCRIPTION=The NestJS Social Network API
SWAGGER_DOC_VERSION=1.0

# ==========================
# Email
# ==========================
MAIL_HOST=smtp.gmail.com
MAIL_PORT=465
MAIL_SECURE=true
MAIL_USER=your_email@gmail.com
MAIL_PASSWORD=your_email_app_password
MAIL_FROM=your_email@gmail.com
FRONTEND_URL=http://localhost:4000

# ==========================
# Cloudinary
# ==========================
CLOUDINARY_CLOUD_NAME=your_cloud_name
CLOUDINARY_API_KEY=your_cloudinary_api_key
CLOUDINARY_API_SECRET=your_cloudinary_api_secret

# ==========================
# Limits & Expirations
# ==========================
BODY_LIMIT=100mb
VERIFICATION_TOKEN_EXPIRES_IN_SECONDS=300

# ==========================
# Elasticsearch
# ==========================
ELASTICSEARCH_NODE=http://localhost:9200
ELASTICSEARCH_USER=elastic
ELASTICSEARCH_PASSWORD=your_elasticsearch_password

# ==========================
# Batch & Cron Jobs
# ==========================
RESYNC_BATCH_SIZE=1000
CLEANUP_BATCH_SIZE=500
RETENTION_DAYS=30

RESYNC_CRON=0 */6 * * *
RECOMMENDATION_CRON=0 */6 * * *
PREDICTION_CRON=0 */6 * * *

# ==========================
# AI Module
# ==========================
AI_API_BASE_URL=http://127.0.0.1:8000/api
